{% extends 'header.html' %}

{% block title %} About {% endblock %}

{% block body %}

<section class="background-gray-lightest">
      <div class="container">
        <div class="breadcrumbs">
          <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li>About</li>
          </ul>
        </div>
        <h1 class="heading">About</h1>
        <p class="lead">Learn more about Fowler Pests, who we are, what we do and why we do it.</p>
      </div>
    </section>
  
    <section class="blog-post">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="post-content">
            
                <p>
Fowler Pest Solutions is a minority owned business located in Philadelphia. I'm Nate Fowler!  I was born  and raised in Philadelphia.  I graduated from Millersville University with a degree in Occupational Safety and Industrial Hygiene management.  
                </P>

<p>My degree led me down  different career avenues.  I ultimately ended up working in pest management.   I spent  several years working for a local exterminator.  I decided to venture out on my own and started Fowler Pest Solutions in January of 2016, serving Philadelphia and the surrounding communities.  </P>

<p>I enjoy doing residential work because it enables me to stay connected to the community.  Another key component of my business is working with management companies and local businesses to provide excellent integrated pest management services.  </p>

<p>My rates are competitive and I always try and provide next day or same day service when possible.  A detailed invoice will be emailed to your company at the completion of services. </p> 

<p>Please feel free to contact me at 1-888-PEST-799.  My fee schedule along with letters of recommendation are available upon request. </P>

          <p>I look forward to hearing from you.</p>
</p>
             
    </section>

{% endblock %}