{% extends 'header.html' %}

{% block title %} Fowler Pest Solutions {% endblock %}

{% block body %}

<div class="jumbotron main-jumbotron">
      <div class="container">
        <div class="content">
          <h1>Welcome to Fowler Pest Solutions</h1>
          <p class="margin-bottom">Take back control. Achieve peace of mind.</p>
          <p><a class="btn btn-white">Learn More</a></p>
        </div>
      </div>
    </div>
    <section>
      <div class="container">
        <h2>It's time to be comfortable in your home.</h2>
        <p class="lead">With Fowler Pest Solutions, you can say goodbye to unwanted guests and hello to peace of mind. </p>
        <p></p>
        <p><a class="btn btn-ghost">Read more</a></p>
      </div>
    </section>
    <section class="background-gray-lightest">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="post">
              <div class="image"><a href="text.html"><img src="img/blog1.jpg" alt="" class="img-responsive"></a></div>
              <h3><a href="text.html">Reclaim your tranquility</a></h3>
              <p class="post__intro">Pests can disrupt the normal flow of your life. Fear. Anxiety. Disgust. With Fowler Pest Solutions, we can erase all of that. Once again, you'll be able to roam your household without having to confront an uninvited nuisance. </p>
              
            </div>
          </div>
          <div class="col-sm-4">
            <div class="post">
              <div class="image"><a href="text.html"><img src="img/blog2.jpg" alt="" class="img-responsive"></a></div>
              <h3><a href="text.html">Protect your health</a></h3>
              <p class="post__intro">Certain pests can pose serious health risks. We'll provide you with education and safety measures to prevent infection, disease, and other types of contamination common with pests.</p>
              
            </div>
          </div>
          <div class="col-sm-4">
            <div class="post">
              <div class="image"><a href="text.html"><img src="img/blog3.jpg" alt="" class="img-responsive"></a></div>
              <h3><a href="text.html">Safeguard your property</a></h3>
              <p class="post__intro">It's no mystery that bugs and other types of pests are infamous for destroying homes and lowering property value. Fowler Pest Solutions puts a halt to any activity that could potentially threaten your abode.  </p>
             
            </div>
          </div>
        </div>
      </div>
    </section>
  
  


{% endblock %}