{% extends 'header.html' %}

{% block title %} Testimonies {% endblock %}

{% block body %}

<section class="background-gray-lightest">
      <div class="container">
        <div class="breadcrumbs">
          <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li>Testimonies</li>
          </ul>
        </div>
        <h1 class="heading">Testimonies</h1>
        <p class="lead">Need to vet our services before biting? Hear from one of our many satisified clients</p>
      </div>
    </section>
  
    <section class="blog-post">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="post-content">
            
 <blockquote>
                <p>One of the most stressful things that can happen is having a bed bug infestation.   The stress ended the moment Nate walked in the door.   He was kind,  informative and put our minds immediately at ease.   I had shopped around for pricing and was shocked at how reasonable his rates were.  He charged based on level of infestation.  All the other companies started at 4 to 5 times as much money to start and when up on price from there.  He explained step by step what needed to be done.  He was thorough and we haven't had a problem since.  I would highly recommend him to anyone.   Nate prides himself in providing quality services at reasonable rates.  He is not out to fleece the consumer.  I would not go to anyone else.—A client</p></blockquote>
             
    </section>

{% endblock %}